<%= form_for(message, remote: true) do |f| %>
  <div class="col s10">
    <div id="error_explanation">
      <% if message.errors.any? %>
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
          <% message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="field">
      <%= f.text_area :content, class: 'materialize-textarea' %>
    </div>
  </div>

  <div class="col s2">
    <div class="actions">
      <%= button_tag name: "action",
                    type: "submit",
                    class: "btn waves-effect waves-light btn-large", data: { disable_with: "Aguarde..." },
                    id: "send-message" do %>
        <%= fa_icon("check") %>
      <% end %>
    </div>
  </div>
<% end %>
