<section id="sign-up">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <h4 class="center"><%= link_to 'Microblog', root_path, class: "deep-purple-text text-lighten-2" %></h4>
  </div>

  <div class="row links">
    <div class="col s6 offset-s6 right-align">
      <%= link_to 'Sign in', new_session_path(resource_name) %>

      /

      <strong>Sign up</strong>
    </div>
  </div>

  <div class="card-panel">
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <%= button_tag name: "action", type: "submit", class: "btn waves-effect waves-light btn-large", data: { disable_with: "Waiting..." } do %>
      Sign up
    <% end %>
  </div>
<% end %>
</section>
