<% if @users.present? %>
  <% if @users.present? %>
    <%= render @users %>
  <% end %>
<% else %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel center">
        <div class="row">
          <div class="col s12">
            <span class="flow-text">Nothing found!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
