<div class="col s12">
  <p>
  <%= user %>
  </p>

  <p>
  <%= user.email %>
  </p>

  <p>
  <%= link_to "#{user.followers.count} Followers", followers_user_path(user.username) %>
  </p>

  <p>
  <%= link_to "#{user.following_count} Followings", followings_user_path(user.username) %>
  </p>

  <% if current_user.present? && current_user == user %>
    <p>
    <%= link_to "#{user.unread_notifications_count} Notifications", notifications_user_path(user.username) %>
    </p>
  <% end %>

  <% if current_user.present? && current_user.can_follow?(user.id) %>
    <%= link_to 'Follow', follow_user_path(user.username), method: :post %>
  <% end %>
</div>
