<div class="row">
<div class="col s3">
  <%= render @user %>
</div>

<div class="col l9 s9">
  <% if @followers.empty? %>
    <h4><%= @user %> does not have any follower yet!</h4>
  <% else %>
      <h5>
        <b><%= @user %> followers</b>
      </h5>
    <% @followers.each do |follower| %>
      <%= render follower.following %>
    <% end %>
  <% end %>
</div>
</div>
