<div class="row">
<div class="col s3">
  <%= render @user %>
</div>

<div class="col l9 s9">
  <% if @followings.empty? %>
    <h4><%= @user %> does not have any user following yet!</h4>
  <% else %>
      <h5>
        <b><%= @user %> followings</b>
      </h5>
    <% @followings.each do |following| %>
      <%= render following %>
    <% end %>
  <% end %>
</div>
</div>
