<div class="row">
<div class="col s3">
  <%= render @user %>
</div>

<div class="col l9 s9">
  <% if @notifications.empty? %>
    <h4><%= @user %> does not have any notification!</h4>
  <% else %>
    <h5>
      <b><%= @user %> notifications</b>
    </h5>
    <% @notifications.each do |notification| %>
      <div class="row">
        <div class="col s12">
          <%= notification.follower %> follows you at <%= I18n.l(notification.created_at, format: :short) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
