<section id="forgot-password">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <h4 class="center"><%= link_to 'Microblog', root_path, class: "deep-purple-text text-lighten-2" %></h4>
  </div>

  <div class="row links">
    <div class="col s6 offset-s6 right-align">
      <strong>Change your password</strong>
    </div>
  </div>

  <div class="card-panel">
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <%= button_tag name: "action", type: "submit", class: "btn waves-effect waves-light btn-large", data: { disable_with: "Waiting..." } do %>
      Change my password
    <% end %>
  </div>
<% end %>
</section>
