<section id="forgot-password">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="row">
    <h4 class="center"><%= link_to 'Microblog', root_path, class: "deep-purple-text text-lighten-2" %></h4>
  </div>

  <div class="row links">
    <div class="col s6 offset-s6 right-align">
      <strong>Forgot your password?</strong>
    </div>
  </div>

  <div class="card-panel">
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <%= button_tag name: "action", type: "submit", class: "btn waves-effect waves-light btn-large", data: { disable_with: "Waiting..." } do %>
      Send me reset password instructions
    <% end %>
  </div>
<% end %>
</section>
