<div class="section no-pad-bot deep-purple lighten-3">
  <div class="container">
    <h1 class="header center white-text">Microblog</h1>

    <div class="row center">
      <h4 class="header col s12 light center">Your own microblog, because your ideas can't be missed!</h4>
    </div>

    <div class="row center">
      <%= link_to "Let's go!", new_registration_path(:user), class: 'btn-large waves-effect waves-light' %>

      or

      <%= link_to "Sign in", new_session_path(:user), class: 'btn-large white deep-purple-text waves-effect waves-light' %>
    </div>

    <div class="row center">
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="col s12">
      <h3 class="deep-purple-text text-lighten-3 center">Start search your friends now!</h3>

      <div class="nav-wrapper">
        <%= form_for(:search, url: search_path, method: :get) do |f| %>
          <div class="input-field input-search">
            <i class="material-icons">search</i>
            <%= f.text_field :q, value: (params.key?(:search) ? params[:search][:q] : '') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
