<div class="row">
  <div class="col l3 s3">
    <%= render current_user %>
  </div>

  <div class="col l9 s9">
    <div class="col l12 s12">
      <%= render 'messages/form', message: Message.new %>
    </div>

    <div class="col l12 s12">
      <%= render @messages %>
    </div>
  </div>
</div>
