<section id="log-in">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <h4 class="center"><%= link_to 'Microblog', root_path, class: "deep-purple-text text-lighten-2" %></h4>
  </div>

  <div class="row links">
    <div class="col s6 offset-s6 right-align">
      <strong>Sign in</strong>
      /

      <%= link_to 'Sign up', new_registration_path(resource_name) %>
    </div>
  </div>

  <div class="card-panel">
    <%= render 'layouts/flash' %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <%= button_tag name: "action", type: "submit", class: "btn waves-effect waves-light btn-large", data: { disable_with: "Aguarde..." } do %>
      Sign in
    <% end %>
  </div>

  <div class="links right-align">
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  </div>
<% end %>
</section>
