/*
 *= require_self
 */

@import "materialize/components/color";

$primary-color: color("deep-purple", "darken-3") !default;
$secondary-color: color("deep-purple", "lighten-1") !default;
$label-color: #000;
$input-focus-color: $primary-color;
$button-color: $primary-color;
$switch-checked-lever-bg: color("deep-purple", "lighten-2") !default;
$switch-bg-color: $primary-color;
$datepicker-weekday-bg: darken($secondary-color, 7%) !default;
$datepicker-date-bg: $secondary-color !default;

@import 'materialize';
@import 'font-awesome';
@import 'flashes';
@import 'login';

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.header-search {
  display: block;
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
  width: calc(100% - 360px);
  height: 36px;
  position: relative;
  padding-top: 14px;

  input#search_q {
    display: block;
    box-sizing: border-box;
    padding: 0 0 0 46px;
    width: 100%;
    background: #d1c4e9;
    height: 36px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-weight: 300;
    outline: none;
    border-radius: 3px;

    &:focus {
      background: #fff;
      border: 0;
      box-shadow: none;
      color: #000;
    }

    &:hover {
      background: #ede7f6;
    }
  }

  i {
    position: absolute;
    top: 0;
    font-size: 24px;
    top: 1px;
    left: 10px;
    color: #9575CD;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
  }
}

.header-items {
  margin: 0;
  height: 34px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-wrapper {
  .input-search {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    width: calc(100% - 360px);
    height: 36px;
    position: relative;
    padding-top: 14px;

    input#search_q {
      display: block;
      box-sizing: border-box;
      padding: 0 0 0 46px;
      width: 100%;
      background: #d1c4e9;
      height: 36px;
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;
      border: none;
      font-size: 16px;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      font-weight: 300;
      outline: none;
      border-radius: 3px;

      &:focus {
        background: #fff;
        border: 0;
        box-shadow: none;
        color: #000;
      }

      &:hover {
        background: #ede7f6;
      }
    }

    i {
      position: absolute;
      top: 0;
      font-size: 24px;
      top: 19px;
      left: 10px;
      color: #9575CD;
      -webkit-transition: color 200ms ease;
      transition: color 200ms ease;
    }
  }
}
