#forgot-password,
#lock,
#log-in,
#sign-up {
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  padding-top: 80px;

  .links .col {
    padding-bottom: 0;
  }

  form {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    z-index: 2;
  }

  button {
    margin-top: .5rem;
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
}

.input-field .prefix.fa {
  margin-top: .6rem;
}

.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}
