<div class="row">
<% if alert %>
  <div class="col s12">
    <div class="alert alert-danger">
      <strong><i class="fa fa-bolt"></i></strong>

      <%= alert %>
    </div>
  </div>
<% end %>

<% if notice %>
  <div class="col s12">
    <div class="alert alert-success green lighten-4 green-text text-darken-2">
      <strong><i class="fa fa-check"></i></strong>

      <%= notice %>
    </div>
  </div>
<% end %>
</div>
