<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <title>Microblog</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="deep-purple lighten-2 custom-navbar white-text" role="navigation">
        <div class="container">
          <div class="nav-wrapper">
            <div class="logo-normal">
              <%= link_to 'Microblog', root_path, class: 'brand-logo left', id: 'logo-container' %>
            </div>

            <div class="logo-mobile">
              <%= link_to 'Microblog', root_path, class: 'brand-logo left', id: 'logo-container' %>
            </div>

            <div class="header-search">
              <%= form_for(:search, url: search_path, method: :get) do |f| %>
                <i class="material-icons">search</i>
                <%= f.text_field :q, value: (params.key?(:search) ? params[:search][:q] : '') %>
              <% end %>
            </div>

            <ul id="nav-mobile" class="right hide-on-med-and-down center header-items">
              <% if current_user.present? %>
                <li><%= current_user %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete  %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <%= render 'layouts/flash' %>

        <%= yield %>
      </div>
    </main>

    <footer class="page-footer deep-purple lighten-2">
      <div class="footer-copyright">
        <div class="container">
          © 2015 Microblog, All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
