<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <title>Microblog</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
    <footer class="page-footer deep-purple lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Join to our network</h5>

            <p class="grey-text text-lighten-4">
              Our network is growing and you will not want to miss out!
            </p>
          </div>

          <div class="col l4 s12">
            <h5 class="white-text">Some facts</h5>

            <p class="grey-text text-lighten-4">
              <%= @user_count %> users
            </p>

            <p class="grey-text text-lighten-4">
            <%= @message_count %> messages until now
            </p>
          </div>

          <div class="col l4 s12">
            <h5 class="white-text">Stay tuned!</h5>

            <ul class="fa-ul grey-text text-lighten-4">
              <li><%= fa_icon("facebook-official", class: "fa-li") %> /microblog</li>
              <li><%= fa_icon("google-plus-square", class: "fa-li") %> /+microblog</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          © 2015 Microblog, All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
